<form class="row g-3">
  <div class="col-md-6">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEndereco" class="form-label">Endereço</label>
    <input type="text" class="form-control" id="inputEndereco">
  </div>
  <div class="col-12">
    <label for="inputBairro" class="form-label">Bairro</label>
    <input type="text" class="form-control" id="inputBairro" placeholder="Bairro ...">
  </div>
  <div class="col-12">
    <label for="inputCep" class="form-label">CEP</label>
    <input type="text" class="form-control" id="inputCep" placeholder="00000-000">
  </div>
  <div class="col-md-6">
    <label for="inputCidade" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="inputCidade">
  </div>
  <div class="col-md-4">
    <label for="inputEstado" class="form-label">Estado</label>
    <select id="inputEstado" class="form-select">
      <option selected>Selecione...</option>
      <option>SP</option>
      <option>RJ</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>